{%macro JumbotronComponent(SOCIAL_LINKS) -%}

<div class="container">
  <div class="jumbotron">

    <div class="row h-100">
      <div class="col col-sm-12 col-md-7 d-flex flex-column justify-content image_container">
       <img class="rounded avatar" src="{{url_for('static', filename='/assets/me.jpg')}}"/>
      <div class="social-links mt-4 d-flex align-items-center justify-content-start">
        {%for social_link in SOCIAL_LINKS%}
        <span>
          <a href="{{social_link['link']}}">{{social_link["icon"]|safe }}</a>
        </span>
       {%endfor%}
      </div>
      </div>
      <div class="col col-sm-12 col-md-5 d-flex flex-column justify-content-left"> 
         <h1>
           AI Engineer
         </h1>
         <p class="home-description">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam provident distinctio nobis magnam. Doloremque a delectus, quos et, ut dolorem maxime qui nesciunt suscipit sapiente ratione dolorum, reiciendis totam velit!
         </p>

        
      </div>
    </div>
   </div>
</div>
{%-endmacro%}